@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/style.css" />



<div class="text-center">
    <h1 class="display-4">TALLER PROGRESO 1</h1>

    <button type="button" class="btn btn-info" onclick="CrearAlerta()">Info</button>

</div>

<img src="~/images/Meme1.jpg" class="meme-imagen" alt="Meme Progra" />

