@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/style.css" />



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button type="button" class="btn btn-info">Info</button>

</div>
